* {
    font-family: "Courier New", monospace;
}
.cardList{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.card{
    width: 225px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border: 1px solid black;
    opacity: 1;
    font-weight: bold;

    transition: background-color 0.5s, color 0.5s, opacity 0.5s;
}
.active{
    background-color: palegreen;
}
.inactive{
    background-color: #df2935;
    color: black;
}
.content{
    width: 1575px;
}
#result-text{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
#ui{
    position: fixed;
    opacity: 0.5;
    pointer-events: none;
    right: 40px;
    top: 20px;
    font-weight: bold;
    font-size: 25px;
    background-color: lightblue;
    border: solid 3px black;
    border-radius: 20px;
    padding: 5px;
}