*{
    box-sizing: border-box;
}
body{
    background: #f3f4f6;
    font-family: Calibri, sans-serif;
}

label {
    display: block;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 14px;
    color: #374151;
}

input[type="text"], textarea, select{
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 12px;
    color: #374151;
}
fieldset{
    border: 1px solid #d1d5db;
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 16px;
    padding: 12px;
}


fieldset legend{
    font-size: 14px;
    color: #374151;
}

input[type="checkbox"]{
    display: inline-block;
}

input[type="checkbox"] ~ label, input[type="radio"] ~ label {
    display: inline;
}

section{
    margin-bottom: 16px;
}

section header{
    margin-bottom: 8px;
}

.row {
    display: flex;
    gap: 16px;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

.content{
    /*flex: 1;*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0,  0.1);
    border: 4px solid black;
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
}

.pizza{
    background-color: #fce6ae;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}